<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <!-- Logo -->
            <div class="logo footer__logo d-md-none">
                <a href="./">
                    <img src="./assets/icons/logo.svg" alt="" class="logo__img footer__logo--img" />
                </a>
            </div>
            <p class="footer__text">Ready to get started?</p>

            <button class="footer__btn btn btn--primary">Get Started</button>
        </div>
        <div class="footer__info">
            <div class="footer__info--col">
                <p class="footer__info--subcribe d-md-none">Subscribe to our newsletter</p>

                <!-- Logo -->
                <div class="logo d-none d-md-block footer__logo">
                    <a href="./">
                        <img src="./assets/icons/logo.svg" alt="" class="logo__img" />
                    </a>
                </div>

                <div class="footer__info--wrap">
                    <input type="email" class="footer__info--input" placeholder="Your Email Adreess" />
                    <button class="footer__info--btn">
                        <img src="./assets/icons/footer-arrow-right.svg" alt="" class="footer__info--arrow" />
                    </button>
                </div>

                <div class="footer__social d-md-none">
                    <div class="footer__social--wrap">
                        <div class="footer__social--round">
                            <img src="./assets/icons/footer-face.svg" alt="" class="footer__social--img" />
                        </div>
                        <div class="footer__social--round">
                            <img src="./assets/icons/footer-twitter.svg" alt="" class="footer__social--img" />
                        </div>
                        <div class="footer__social--round">
                            <img src="./assets/icons/footer-in.svg" alt="" class="footer__social--img" />
                        </div>
                    </div>
                </div>

                <!-- Button-Menu -->
                <button class="footer__button-menu d-none d-md-block js-toggle" toggle-target="#footer__menu">
                    <img src="./assets/icons/hamburger-menu.svg" alt="" class="footer__button-menu-icon" />
                </button>
            </div>

            <!--  -->
            <div class="footer__support d-md-none">
                <div class="footer__support--col">
                    <h3 class="footer__support--title">Services</h3>
                    <ul class="footer__support--list">
                        <li class="footer__support--item">Email Marketing</li>
                        <li class="footer__support--item">Campaigns</li>
                        <li class="footer__support--item">Branding</li>
                        <li class="footer__support--item">Online</li>
                    </ul>
                </div>

                <div class="footer__support--col">
                    <h3 class="footer__support--title">About</h3>
                    <ul class="footer__support--list">
                        <li class="footer__support--item">Our Story</li>
                        <li class="footer__support--item">Benefits</li>
                        <li class="footer__support--item">Team</li>
                        <li class="footer__support--item">Careers</li>
                    </ul>
                </div>

                <div class="footer__support--col">
                    <h3 class="footer__support--title">Help</h3>
                    <ul class="footer__support--list">
                        <li class="footer__support--item">FAQs</li>
                        <li class="footer__support--item">Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Menu -->
        <div class="footer__menu d-none d-md-block hide" id="footer__menu">
            <!-- Logo -->
            <div class="logo footer__logo">
                <a href="./">
                    <img src="./assets/icons/logo.svg" alt="" class="logo__img footer__logo--img footer__menu--logo" />
                </a>
            </div>

            <!--  -->
            <div class="footer__menu--list">
                <div class="footer__menu--item">
                    <h3 class="footer__menu--title js-toggle" toggle-target="#footer__menu--ul-1">
                        Services
                        <img src="./assets/icons/footer-arrow-right.svg" alt="" class="footer__menu--icon" />
                    </h3>
                    <ul class="footer__menu--ul hide" id="footer__menu--ul-1">
                        <li class="footer__menu--li">
                            <a href="" class="footer__menu--link">Email Marketing</a>
                        </li>
                        <li class="footer__menu--li">
                            <a href="" class="footer__menu--link">Campaigns</a>
                        </li>
                        <li class="footer__menu--li">
                            <a href="" class="footer__menu--link">Branding</a>
                        </li>
                        <li class="footer__menu--li">
                            <a href="" class="footer__menu--link">Online</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__menu--item">
                    <h3 class="footer__menu--title js-toggle" toggle-target="#footer__menu--ul-2">
                        About
                        <img src="./assets/icons/footer-arrow-right.svg" alt="" class="footer__menu--icon" />
                    </h3>
                    <ul class="footer__menu--ul hide" id="footer__menu--ul-2">
                        <li class="footer__menu--li">
                            <a href="" class="footer__menu--link">Our Story</a>
                        </li>
                        <li class="footer__menu--li">
                            <a href="" class="footer__menu--link">Benefits</a>
                        </li>
                        <li class="footer__menu--li">
                            <a href="" class="footer__menu--link">Team</a>
                        </li>
                        <li class="footer__menu--li">
                            <a href="" class="footer__menu--link">Careers</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__menu--item">
                    <h3 class="footer__menu--title js-toggle" toggle-target="#footer__menu--ul-3">
                        Help
                        <img src="./assets/icons/footer-arrow-right.svg" alt="" class="footer__menu--icon" />
                    </h3>
                    <ul class="footer__menu--ul hide" id="footer__menu--ul-3">
                        <li class="footer__menu--li">
                            <a href="" class="footer__menu--link">FAQs</a>
                        </li>
                        <li class="footer__menu--li">
                            <a href="" class="footer__menu--link">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__social footer__menu--social">
                <div class="footer__social--wrap">
                    <div class="footer__social--round footer__menu--social-wrap">
                        <img
                            src="./assets/icons/footer-face.svg"
                            alt=""
                            class="footer__social--img footer__menu--social-icon footer__menu--social-face"
                        />
                    </div>
                    <div class="footer__social--round footer__menu--social-wrap">
                        <img
                            src="./assets/icons/footer-twitter.svg"
                            alt=""
                            class="footer__social--img footer__menu--social-icon"
                        />
                    </div>
                    <div class="footer__social--round footer__menu--social-wrap">
                        <img
                            src="./assets/icons/footer-in.svg"
                            alt=""
                            class="footer__social--img footer__menu--social-icon"
                        />
                    </div>
                </div>
            </div>
        </div>

        <!-- Overlay -->
        <div class="footer__overlay d-none d-md-block hide js-toggle" toggle-target="#footer__menu"></div>
    </div>
</div>
