@use "../abstracts";
.header {
    position: relative;
    padding:40px 0  20px;
    // margin-bottom: 70px;
    background: var(--body-primary-color);

    &__sticky {
        position: sticky;
        top:-20px;
        z-index: 10;

        @include abstracts.screen(md) {
            position: initial;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include abstracts.screen(md) {
            justify-content: initial;
        }
    }

    &__navbar {
        &-list {
            display: flex;
        }

        &-item {
            padding:0 18px;
        }

        &-link {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 150%;
            color:var( --text-color-gray);

            &--current {
                color: var(--text-color-white);

                &::after {
                    display: block;
                    content: "";
                    width:21px;
                    height:2px;
                    background:var(--underline-navbar-link);
                }
            }

            &:hover:not(.header__navbar-link--current) {
                opacity: 0.8;
            }

        }
    }

    &__action {
        @include abstracts.screen(md) {
            margin-left: auto;
            margin-right: 44px;
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 150% ;
            min-width:110px;
            height:40px;
            flex-shrink: 0;

            background: var(--action-btn);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include abstracts.screen(md) {
                min-width: 80px;
                height: 30px !important;
                font-size: 1.2rem !important;
            }
        }


    }

    &__search {
        padding:9px 25px;
        background-color: #35393E;
        border-radius: 10px;
        margin-bottom: 30px;

        &-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }

        &-wrap {
            display: flex; 
            gap:8px;
        }

        &-logo {
            width:47px;
            height:11px;
            object-fit: contain;
        }
    }
}

.menu {
    position: fixed;
    padding:30px;
    inset:0 0 0 30%;
    background-color: var(--body-sub-color);
    z-index: 4;
    transform: translateX(100%);
    transition: all 0.3s linear;
    border-radius: 10px 0 0 10px;

    &.show {
        transform: translateX(0);
    }

    &.show + &__overlay {
        opacity: 1;
        visibility: visible;
    }

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;

    }

    &__link {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        color:var(--text-color-white);
        padding:15px 0;

        &:hover {
            opacity: 0.8;
        }
    }

    &__overlay {
        @include abstracts.screen(md) {
            position: fixed;
            inset:0;
            background: rgba(#000,0.7);
            z-index: 3;

            opacity: 0;
            visibility: hidden;
            transition: all 0.3s linear;
        }
    }
}