@use "../abstracts";
.action {
    padding-top:250px;
    background-color: var(--body-primary-color);

    @include abstracts.screen(xl) {
        padding-top: 150px;
    }

    @include abstracts.screen(xl) {
        padding-top: 100px;
    }

    @include abstracts.screen(md) {
        padding-top: 0;
        padding-bottom:40px;
    }

    &-inner {
        padding:50px 40px;
        border-radius: 27px;
        background:#282C30;
    }

    &-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width:238px;
        margin:0 auto;

        @include abstracts.screen(lg) {
            max-width:initial;
        }

        &__outside + &__outside {
            border-left: 1px solid #858B93;

            @include abstracts.screen(lg) {
                border-top: 1px solid #858B93;
                border-left:none;
            }
        }

        &__title {
            color: var(--text-color-white);
            text-align: center;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 145.455%;
            padding:30px 0 15px;

            @include abstracts.screen(lg) {
                font-size: 2.0rem;
            }
        }

        &__desc {
            color: var(--text-color-bland);
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 162.5%;
        }

        &__icon {
            @include abstracts.screen(lg) {
                margin-top: 30px;
            }
        }
    }
}