@use "../abstracts";
.feature {
    padding:70px 0 80px;
    background: var(--body-sub-color);

    @include abstracts.screen(lg) {
        background:var(--body-primary-color);
    }

    @include abstracts.screen(md) {
        padding-bottom: 40px;
    }

    &-inner {
        @include abstracts.screen(lg) {
            background:var(--body-sub-color);
            border-radius: 10px;
            padding:10px;
        }
    }

    &-chart {
        
        width:100%;

        &__img {
            width:100%;
        }
    }

    &-info {
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;

        &__heading {
            max-width: 400px;
            color: var(--text-color-white);
            font-size: 40px;
            font-weight: 600;
            line-height: 125%;
            margin-bottom: 50px;

            & strong {
                background: var(--bg-btn);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &__list {
            --grid-gutter-y:23px;

            @include abstracts.screen(lg) {
                margin-bottom: 40px;
            }

            @include abstracts.screen(md) {
                margin-bottom: 20px;
            }
        }

        &__item {
            display: flex;
            gap:23px;

            &-label {
                position: relative;
            }

            &-checkbox {
                appearance: none;

                &::before {
                    content: url("../icons/uncheckbox-green-feature.svg");
                }

                &:checked::before {
                    content: url("../icons/checkbox-green-feature.svg")
                }
            }
        }

        &__title {
            color: var(--text-color-white);
            font-size: 18px;
            font-weight: 600;
            line-height: 155.556%;
            margin-bottom: 8px;
        }

        &__desc {
            color: var(--text-color-gray);
            font-size: 14px;
            font-weight: 400;
            line-height: 171.429%;
        }
    }
}