html {
    --body-primary-color:#131517;
    --body-sub-color:#191B1D;

    --text-color-white:#F9F9F9;
    --text-color-gray:#858B93;
    --text-color-gray-2:#282C30;
    --text-color-bland:#98989C;
    --text-color-current:#D5D5D6;
    --bg-btn:linear-gradient(90deg, #EB9204 -33.14%, #83E868 116.38%);

    --cam: brightness(0) saturate(100%) invert(72%) sepia(57%) saturate(4051%) hue-rotate(318deg) brightness(101%) contrast(108%);
    --tim: brightness(0) saturate(100%) invert(74%) sepia(39%) saturate(5350%) hue-rotate(211deg) brightness(99%) contrast(97%);
    --green: brightness(0) saturate(100%) invert(76%) sepia(60%) saturate(3864%) hue-rotate(108deg) brightness(93%) contrast(91%);
    --yellow: brightness(0) saturate(100%) invert(47%) sepia(71%) saturate(1007%) hue-rotate(10deg) brightness(103%) contrast(106%);
    --pink: brightness(0) saturate(100%) invert(75%) sepia(26%) saturate(7045%) hue-rotate(317deg) brightness(98%) contrast(105%);
    // Header
    --underline-navbar-link:#6AEA5C;
    --action-border-btn:#272633;

    // Btn 
    --bg-color-1:linear-gradient(90deg, #EB9204 -33.14%, #83E868 116.38%);

    // Color icon
    --green-cpn:#0CCE84;
    --yellow-cpn:#EF8F00;
    --purple-cpn:#AE8FF9;
    --dark-orange-cpn:#FF7667;

    // icon
    --white: brightness(0) saturate(100%) invert(100%) sepia(9%) saturate(1%) hue-rotate(255deg) brightness(111%) contrast(95%);
    --blue: brightness(0) saturate(100%) invert(25%) sepia(96%) saturate(1435%) hue-rotate(191deg) brightness(109%) contrast(107%);
}