$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@mixin screen($key) {
    $breakpoint:map-get($grid-breakpoints,$key);
    @if($breakpoint) {
        @media (max-width:($breakpoint - 0.02)){
            @content;
        }
    }
    @else {
        @error "Loi!!!";
    }
}

@mixin clamp-lines($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line; // thay đổi line-max ở đây
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
